*
!.gitignore

#general
!.config
!.local
!.local/share

#awesome
!.config/awesome
!.config/awesome/**

#conky
!.config/conky
!.config/conky/**

#dmenu
!.config/dmenu
!.config/dmenu/**

#dunst
!.config/dunst
!.config/dunst/dunstrc

#i3
!.config/i3
!.config/i3/**

#icons
!.local
!.local/share
!.local/share/icons
!.local/share/icons/*.png

#IntelliJ
!.IntelliJIdea2017.1
!.IntelliJIdea2017.1/config
!.IntelliJIdea2017.1/config/colors
!.IntelliJIdea2017.1/config/colors/**
!.IntelliJIdea2017.1/config/options
!.IntelliJIdea2017.1/config/options/colors.scheme.xml

#gpg
!.gnupg
!.gnupg/gpg-agent.conf

#mailcap
!.mailcap

#mbsync / isync
!.config/mbsync
!.config/mbsync/**

#mutt
!.config/mutt
!.config/mutt/muttrc*
!.config/mutt/muttrc.iocanel@gmail.com
!.config/mutt/muttrc.ikanello@redhat.com
!.config/mutt/colors
!.config/mutt/sig

#qutebrowser
!.config/qutebrowser
!.config/qutebrowser/**

#Ranger
!.config/ranger
!.config/ranger/*.conf
.config/ranger/history
.config/ranger/bookmarks

#scripts
!scripts
!scripts/**

#SpaceEmacs
!.spacemacs

#SpaceVim
!.SpaceVim.d
!.SpaceVim.d/init.vim

#systemd
!.local
!.local/share
!.local/share/systemd
!.local/share/systemd/user
!.local/share/systemd/user/**

#vdirsyncer
!.config/vdirsyncer
!.config/vdirsyncer/config

#vim
!.vimrc
!.vim
!.vim/**

#weechat
!.config/weechat
!.config/weechat/**
#exclude configs that contain passwords (these are generated using pass on runtime).
.config/weechat/irc.conf
.config/weechat/plugins.conf
#eclude logs
.config/weechat/weechat.log
.config/weechat/logs

#X
!.Xresources

#zsh
!.zshrc
!.zshrc.d
!.zshrc.d/**
!.zshenv
!.zshenv.d
!.zshenv.d/**
!.zfunc.d
!.zfunc.d/**

!readme.md
