[submodule "emacs.d"]
	url = git@github.com:iocanel/emacs.d.git
	path = emacs/.emacs.d
[submodule "kubemenu"]
	url = git@github.com:iocanel/kubemenu.git
	path = kubemenu
[submodule "neovim"]
	url = git@github.com:iocanel/nvim.git
	path = neovim/.config/nvim
[submodule "doom.d"]
        url = git@github.com:iocanel/doom.d.git
	path = emacs-doom/.doom.d
[submodule "yapt"]
	path = yapt
	url = git@github.com:iocanel/yapt.git
