*
!.gitignore

#general
!.config
!.local
!.local/share

#awesome
!.config/awesome
!.config/awesome/**

#conky
!.config/conky
!.config/conky/**

#dmenu
!.config/dmenu
!.config/dmenu/**

#dunst
!.config/dunst
!.config/dunst/dunstrc

#i3
!.config/i3
!.config/i3/**

#IntelliJ
!.IntelliJIdea2017.1
!.IntelliJIdea2017.1/config
!.IntelliJIdea2017.1/config/colors
!.IntelliJIdea2017.1/config/colors/**
!.IntelliJIdea2017.1/config/options
!.IntelliJIdea2017.1/config/options/colors.scheme.xml

#gpg
!.gnupg
!.gnupg/gpg-agent.conf

#mutt
!.mutt/muttrc*
!.mutt/muttrc.gmail
.mutt/muttrc.gmail.secret
.mutt/muttrc.work
.mutt/muttrc.work.secret

#qutebrowser
!.config/qutebrowser
!.config/qutebrowser/**

#Ranger
!.config/ranger
!.config/ranger/*.conf
.config/ranger/history
.config/ranger/bookmarks

#scripts
!scripts
!scripts/**

#SpaceEmacs
!.spacemacs

#SpaceVim
!.SpaceVim.d
!.SpaceVim.d/init.vim

#vim
!.vimrc
!.vim
!.vim/**

#weechat
!.config/weechat
!.config/weechat/**
#exclude configs that contain passwords (these are generated using pass on runtime).
.config/weechat/irc.conf
.config/weechat/plugins.conf
#eclude logs
.config/weechat/weechat.log
.config/weechat/logs

#X
!.Xresources

#zsh
!.zshrc
!.zshrc.d
!.zshrc.d/**
!.zshenv
!.zshenv.d
!.zshenv.d/**
!.zfunc.d
!.zfunc.d/**

!readme.md
