[Desktop Entry]
Version=1.0
Name=Mu4e (Github)
GenericName=Mu4e Github
StartupNotify=true
Terminal=false
Icon=github
Type=Application
Exec=mu4e-github
