[Desktop Entry]
Version=1.0
Name=Org Capture Meals
GenericName=Org Capture Meals
StartupNotify=true
Terminal=false
Icon=calendar
Type=Application
Exec=org-capture-meals -f
