[Unit]
Description=MBSync Service
Documentation=man:mbsync(1)

[Service]
Type=oneshot
Environment=PATH=/home/iocanel/bin:/home/iocanel/.nix-profile/bin:/run/current-system/sw/bin
ExecStart=/home/iocanel/bin/mbsync-fetch --index

[Install]
WantedBy=default.target
