[Desktop Entry]
StartupWMClass=chromium-browser
Version=1.0
Name=Outlook Work (iocanel@cyberranges.com)
GenericName=Outlook
Comment=Access Outlook in app mode
StartupNotify=true
Terminal=false
Icon=outlook
Type=Application
Categories=Network;WebBrowser;
Exec=chromium --app=https://outlook.office.com
Actions=new-window;new-private-window;outlook-app;

[Desktop Action new-window]
Name=New Window
Exec=chromium

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=chromium --incognito

[Desktop Action outlook-app]
Name=Outlook App Mode
Exec=outlook-work-email
