[Desktop Entry]
Name=Monitor desktop
Comment=Rest monitors in the desktop / office layout
Exec=sh -c $HOME/bin/monitor-desktop
Icon=display
Terminal=false
Type=Application
Categories=System;Utility;
