[Unit]
Description=VDirSyncer Service
Documentation=man:vdirsyncer(1)

[Service]
Type=oneshot
ExecStart=/home/iocanel/.virtualenvs/bin/vdirsyncer

[Install]
WantedBy=default.target
