/* Catppuccin Mocha color scheme */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome;
    font-size: 24px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: @base;
}

#workspaces button {
    padding: 0 5px;
    background-color: @base;
    color: @text;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @base;
    color: @red;
}

#workspaces button.active {
    background-color: @base;
    color: @mauve;
}

#workspaces button.urgent {
    background-color: @base;
    color: @peach;
}

#mode {
    background-color: @base;
    color: @text;
    padding: 0 10px;
}

#clock,
#custom-agenda,
#custom-github,
#custom-gmail-personal,
#custom-gmail-work,
#custom-dunst,
#pulseaudio {
    padding: 0 10px;
    background-color: @base;
    color: #a0b7c1;
}

#pulseaudio.muted {
    color: @overlay0;
}

#tray {
    background-color: @base;
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
