[Desktop Entry]
Name=Generate Token
Comment=Generate and type token
Exec=sh -c $HOME/bin/generate-token
Icon=display
Terminal=false
Type=Application
Categories=System;Utility;
