[Desktop Entry]
Name=Monitor reset
Comment=Rest monitors in the default layout
Exec=sh -c $HOME/bin/monitor-reset
Icon=display
Terminal=false
Type=Application
Categories=System;Utility;
