[Desktop Entry]
Name=Monitor mirror
Comment=Enable monitor mirroring
Exec=monitor-mirror
Icon=display
Terminal=false
Type=Application
Categories=System;Utility;