[Unit]
Description=VDirSyncer Service
Documentation=man:vdirsyncer(1)

[Service]
Type=oneshot
ExecStart=/home/iocanel/.virtualenvs/bin/vdirsyncer sync

[Install]
WantedBy=default.target
