
[Desktop Entry]
Name=VPN Discnnect
Comment=Disconnect from VPN
Exec=nmcli connection down work-vpn
Icon=network-vpn
Terminal=false
Type=Application
Categories=Network;
